<div class="admin-layout">
  <!-- Menu Lateral -->
  <div class="sidebar">
    <div class="header">
      <h1>Geladinho & Picolé</h1>
      <p>Administrador</p>
    </div>

    <nav>
      <ul>
        <li>
          <button 
            (click)="navigateTo('/admin/estoque')"
            [ngClass]="{'active': isActiveRoute('/admin/estoque')}"
          >
            <fa-icon [icon]="faBox"></fa-icon>
            Estoque
          </button>
        </li>
        <li>
          <button 
            (click)="navigateTo('/admin/produtos')"
            [ngClass]="{'active': isActiveRoute('/admin/produtos')}"
          >
            <fa-icon [icon]="faIceCream"></fa-icon>
            Produtos
          </button>
        </li>
        <li>
          <button 
            (click)="navigateTo('/admin/feedbacks')"
            [ngClass]="{'active': isActiveRoute('/admin/feedbacks')}"
          >
            <fa-icon [icon]="faComments"></fa-icon>
            Feedbacks
          </button>
        </li>
      </ul>
    </nav>

    <div class="logout">
      <button (click)="handleLogout()">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
        Sair
      </button>
    </div>
  </div>

  <!-- Área de Conteúdo -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>